<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Code1Var4_2.Properties.Settings.Code11Var4ConnectionString"
            connectionString="Data Source=DESKTOP-NG29CEL;Initial Catalog=Code11Var4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>